*{
	--var-Color: rgb(0, 247, 255);
}
body{
	background-color: #242424;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	flex-direction: column;

}
.game{
	background-color: #242424;
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content;
	height: max-content;
	flex-direction: column;
	gap: 0.5rem;
	user-select: none;
}

.gamepage{
	display: flex;
	/* flex-direction: column; */
}

.box{
	color: antiquewhite;
	border: 0.3rem solid var(--var-Color);
	display: grid;
	grid-template-rows: repeat(3, 6.5rem);
	grid-template-columns: repeat(3, 6.5rem);
	gap: 0.01rem;
	place-items: center;
}

.square{
	border: 0.05rem solid var(--var-Color);
	color: var(--var-Color);
	width: 6rem;
	height: 6rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font: bold 2rem monospace;
}

.square:hover{
	cursor: pointer;
}

.status {
	color: var(--var-Color);
	font: bold 2rem monospace;
	display: grid;
	grid-area: 1/1/2/4;
}

.stats, .scoreboard{
	color: var(--var-Color);
	font: bold 1.5rem monospace;
	border: 1.5px solid var(--var-Color);
	width: 10rem;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	
}

.statsholder{
	width: 15rem;
	display: flex;
	flex-direction: column;
}

.stats:hover{
	cursor: pointer;
}

.history{
	color: var(--var-Color);
}